<?xml version="1.0" encoding="UTF-8"?>
<Context path="/Company">
    <Resource
            driverClassName="com.mysql.jdbc.Driver"
            maxActive="4"
            maxIdle="2"
            maxWait="5000"
            name="jdbc/Company"
            username="sa"
            password=""
            type="javax.sql.DataSource"
            url="jdbc:h2:~/test"
            validationQuery="SELECT 1">
    </Resource>
</Context>