<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.ak98neon.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListDepartment</servlet-name>
        <servlet-class>com.ak98neon.controller.dep_servlets.ListDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListDepartment</servlet-name>
        <url-pattern>/listDepartment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteDepartment</servlet-name>
        <servlet-class>com.ak98neon.controller.dep_servlets.DeleteDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDepartment</servlet-name>
        <url-pattern>/deleteDepartment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddDepartment</servlet-name>
        <servlet-class>com.ak98neon.controller.dep_servlets.AddDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDepartment</servlet-name>
        <url-pattern>/addDepartment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateDepartment</servlet-name>
        <servlet-class>com.ak98neon.controller.dep_servlets.UpdateDepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateDepartment</servlet-name>
        <url-pattern>/updateDepartment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListEmployee</servlet-name>
        <servlet-class>com.ak98neon.controller.empl_servlets.ListEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListEmployee</servlet-name>
        <url-pattern>/listEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>com.ak98neon.controller.empl_servlets.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.ak98neon.controller.empl_servlets.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateEmployee</servlet-name>
        <servlet-class>com.ak98neon.controller.empl_servlets.UpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateEmployee</servlet-name>
        <url-pattern>/updateEmployee</url-pattern>
    </servlet-mapping>
</web-app>